		img{
			width: 200px;
			text-align: center;
		}
		p{
			text-align: justify;
		}
		.container{ 
			display: inline-flex;
			background-color:#FADDE3;
		}
		body{
			background-color: #F7ADC3 ;
		}